<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/events.css">
    <title>Document</title>
</head>
<body>
    <%- include("partials/header.ejs")  %>

<div class="banner">
    <div class="content">
        <div class="title">
            Events...
        </div>
        <p>Comming Soon....</p>
    </div>
</div>        
    </section>
    <%- include("partials/footer.ejs")  %>
</body>
</html>